@page
@model JewelleryStore.Pages.Modules.Products.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Productos[0].NombreProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Productos[0].Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Productos[0].Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Productos) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.CategoriaId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ProductoId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ProductoId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ProductoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
