@page
@model JewelleryStore.Pages.Modules.Clients.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Clientes</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clientes.NombreCliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clientes.NombreCliente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clientes.Pais)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clientes.Pais)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Clientes.ClienteId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
