@page
@model JewelleryStore.Pages.Modules.Clients.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Clientes[0].NombreCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clientes[0].Pais)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Clientes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pais)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ClienteId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ClienteId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ClienteId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
